@model Application
@{
    ViewData["Title"] = "Delete Application";
}

<h1>Delete Application</h1>
<h3>Are you sure you want to delete this?</h3>
<hr />
<dl class="row">
    <dt class="col-sm-3">Volunteer</dt>
    <dd class="col-sm-9">@Model.Volunteer?.Name</dd>

    <dt class="col-sm-3">Opportunity</dt>
    <dd class="col-sm-9">@Model.Opportunity?.Title</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Status)</dt>
    <dd class="col-sm-9">@Model.Status</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.SubmissionDate)</dt>
    <dd class="col-sm-9">@Model.SubmissionDate.ToString("yyyy-MM-dd")</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="AppId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
